<!DOCTYPE html>
<html>
<head>
<style>
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	style=font-family: italic;
}
p {
	style=color:white;
}
body {
	background-color: green;
</style>
<title>news</title>
</head>
	<body>
		<h3 style=color:white;> News App </h3>
		<h1 style=color:white; style=font-size:60px>FASTEST NEWS</h1>
		<h2 style=color:white; style=font-size:30px>INDIA</h2>
		<hr>
		<p style=color:red><b>Breaking News </p>
		<p style=color:white>* Petrol, Diesel Prices Drop After Excise <br>
									Duty Cut: Know How Much Tax You <br>
									Pay On Fuel Now</p>
		<img src=https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAX0BId.img?w=634&h=400&q=60&m=6&f=jpg&u=t"
		<p "style=color:white;"> Though the Centre has cut the excise duty on petrol and diesel thus bringing down<br>
		the retail prices of the fuels, states, except a few, have not yet followed the suit.<br>
		This has also left state taxes higher than the central levies on fuels.<br>
		Here’s the full break-up of taxes one pays on petrol and diesel:
		Following the excise duty cut, the price of petrol in Delhi <br>
		on Tuesday stood at Rs 96.72 a litre as against Rs 105.41 a litre earlier,<br>
		while diesel cost Rs 89.62 a litre as opposed to Rs 96.67 earlier.<br>
		All states across the country have witnessed the price fall after the duty cut by the Centre.<br>
		Over and above this, Maharashtra, Rajasthan and Kerala have also cut value-added taxes,<br>
		thus bringing down the fuel prices even further.</P>

	</body>
</html>